/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-cache-fixture
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
.DS_Store
*.log
.idea
.vscode
.eslintcache
package-lock.json
/dist
src/assetData.js
host/index.html
.firebase/hosting.aG9zdA.cache
assets/jsons/assetData.json
assets/builds
